.loginpage {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background-color: rgb(243, 241, 241);
  margin-top: 5%;
}
.Signinbutton {
  background-color: rgb(27, 41, 167);
  height: 2.2em;
  color: white;
}
.loginform {
  display: flex;
  flex-direction: column;
  width: 60%;
}
.forminput {
  line-height: 2.2em;
}
.googlebutton {
  line-height: 2.2em;
}
a {
  color: rgb(226, 44, 11);
  background-color: transparent;
  text-decoration: none;
}
.signuplink {
  display: flex;
  flex-direction: row;
}
