.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.grayDiv{
  width: 30%;
  height: 700px;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 0;
  @media (max-width: 960px) {
    display: none;
  }
}

.lightBg {
  background-color: #F5F5F5;
  width: 50%;
}
.imageWrapper{
  /* display: flex; */
  justify-content: flex-end;
  position: relative;
  z-index: 9;
  @media (max-width: 960px) {
    width: 100%;
    justify-content: center;
  }
}

.flexCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

.darkBg {
  background-color: #0B093B;
}

.radius8 {
  border-radius: 1rem;
}


.quoteWrapper{
  position: absolute;
  left: 0;
  bottom: 50px;
  max-width: 330px;
  left: 30px;
  padding: 30px;
  z-index: 99;
  @media (max-width: 960px) {
    left: 20px;
  }
  @media (max-width: 560px) {
    bottom: -50px;
  }
}
.QuotesWrapper{
  position: absolute;
  left: -20px;
  top: -10px;
}
.font15 {
  font-size: 0.938rem;
}
.whiteColor {
  color: #fff;
}
.font13 {
  font-size: 0.813rem;
}
.orangeColor {
  color: #F2B300;
}
.textRight {
  text-align: right;
}

.dotsWrapper{
  position: absolute;
  right: -100px;
  bottom: 100px;
  z-index: 2;
  @media (max-width: 960px) {
    right: 100px;
  }
  @media (max-width: 560px) {
    display: none;
  }
}

.rowSeprator{
  margin-bottom: 1em;
}

.heroSection{
  margin: 0 5em !important;
}


/* For Desktop View */
/* @media screen and (min-width: 1024px) {
  .heroSection{
    margin: 5em !important;
  }
} */
 
/* For Tablet View */
@media screen and (min-device-width: 768px)
and (max-device-width: 1024px) {
  .heroSection{
    margin: 0em !important;
  }
  .lightBg {
display: none;
  }
  .quoteWrapper {
    position: absolute;
    left: 0;
    bottom: 16px !important;
    max-width: 286px;
    padding: 10px !important;
    font-size: 0.5em;
    z-index: 99;
  
}
.QuotesWrapper {
  position: absolute;
  left: -12px !important;
  top: -10px;
}
.font15 {
  font-size: 0.538rem !important;
}
.font13 {
  font-size: 0.513rem !important;
}
.imageWrapper {
margin-top: 8em !important;
}
.dotsWrapper {
  z-index: -99 !important;
    }
    .section-title h2 {
      font-size: 25px !important;
    }
                 .aramark_dashboard {
                   margin: 0 0.5em !important;
                 }
              
}
 
/* For Mobile Portrait View */
@media screen and (max-device-width: 480px)
and (orientation: portrait) {
  .heroSection{
    margin: 0em !important;
  }
  .lightBg {
    display: none;
      }
      .quoteWrapper {
        position: absolute;
        left: 0;
        bottom: 16px !important;
        max-width: 286px;
        padding: 10px !important;
        font-size: 0.5em;
        z-index: 99;
      
    }
    .QuotesWrapper {
      position: absolute;
      left: -12px;
      top: -10px;
  }
  .font15 {
    font-size: 0.538rem !important;
}
.font13 {
  font-size: 0.513rem !important;
}
.imageWrapper {
  margin-top: 8em !important;
  }
  .dotsWrapper {
    z-index: -99 !important;
      }
      .section-title h2 {
        font-size: 25px !important;
      }
                     .aramark_dashboard {
                       margin: 0 0.5em !important;
                     }
                  
}
 
/* For Mobile Landscape View */
@media screen and (max-device-width: 640px)
and (orientation: landscape) {
  .heroSection{
    margin: 0em !important;
  }
  .lightBg {
    display: none;
      }
      .quoteWrapper {
        position: absolute;
        left: 0;
        bottom: 16px !important;
        max-width: 286px;
        padding: 10px !important;
        font-size: 0.5em;
        z-index: 99;
      
    }
    .QuotesWrapper {
      position: absolute;
      left: -12px !important;
      top: -10px;
  }
  .font15 {
    font-size: 0.538rem !important;
}
.font13 {
  font-size: 0.513rem !important;
}
.imageWrapper {
  margin-top: 8em !important;
  }
  .dotsWrapper {
    z-index: -99 !important;
      }
      .section-title h2 {
        font-size: 25px !important;
      }
                     .aramark_dashboard {
                       margin: 0 0.5em !important;
                     }
                  
}
 
/* For Mobile Phones Portrait or Landscape View */
@media screen and (max-device-width: 640px) {
  .heroSection{
    margin: 0em !important;
  }
  .quoteWrapper {
    position: absolute;
    left: 0;
    bottom: 16px !important;
    max-width: 286px;
    padding: 10px !important;
    font-size: 0.5em;
    z-index: 99;
  
}
.QuotesWrapper {
  position: absolute;
  left: -12px !important;
  top: -10px;
}
.font15 {
  font-size: 0.538rem !important;
}
.font13 {
  font-size: 0.513rem !important;
}
.imageWrapper {
  margin-top: 8em !important;
  }  
  .dotsWrapper {
    z-index: -99 !important;
      }
      .section-title h2 {
        font-size: 25px !important;
      }
                     .aramark_dashboard {
                       margin: 0 0.5em !important;
                     }
                 
}
 
/* For iPhone 4 Portrait or Landscape View */
@media screen and (min-device-width: 320px)
and (-webkit-min-device-pixel-ratio: 2) {
  .heroSection{
    margin: 0em !important;
  }
  .lightBg {
    display: none;
      }
      .quoteWrapper {
        position: absolute;
        left: 0;
        bottom: 16px !important;
        max-width: 286px;
        padding: 10px !important;
        font-size: 0.5em;
        z-index: 99;
      
    }
    .QuotesWrapper {
      position: absolute;
      left: -12px !important;
      top: -10px;
  }
  .font15 {
    font-size: 0.538rem !important;
}
.font13 {
  font-size: 0.513rem !important;
}
.imageWrapper {
  margin-top: 8em !important;
  }
  .dotsWrapper {
    z-index: -99 !important;
      }
      .section-title h2 {
        font-size: 25px !important;
      }
                     .aramark_dashboard {
                       margin: 0 0.5em !important;
                     }
                  
}
 
/* For iPhone 5 Portrait or Landscape View */
@media (device-height: 568px) and (device-width: 320px)
and (-webkit-min-device-pixel-ratio: 2) {
  .heroSection{
    margin: 0em !important;
  }
  .lightBg {
    display: none;
      }
      .quoteWrapper {
        position: absolute;
        left: 0;
        bottom: 16px !important;
        max-width: 286px;
        padding: 10px !important;
        font-size: 0.5em;
        z-index: 99;
      
    }
    .QuotesWrapper {
      position: absolute;
      left: -12px !important;
      top: -10px;
  }
  .font15 {
    font-size: 0.538rem !important;
}
.font13 {
  font-size: 0.513rem !important;
}
.imageWrapper {
  margin-top: 8em !important;
  }
  .dotsWrapper {
    z-index: -99 !important;
      }
      .section-title h2 {
        font-size: 25px !important;
      }
     .aramark_dashboard {
                  margin: 0 0.5em !important;
    }
}
 
/* For iPhone 6 and 6 plus Portrait or Landscape View */
@media (min-device-height: 667px) and (min-device-width: 375px)
and (-webkit-min-device-pixel-ratio: 3) {
  .heroSection{
    margin: 0em !important;
  }
  .lightBg {
    display: none;
      }
      .quoteWrapper {
        position: absolute;
        left: 0;
        bottom: 16px !important;
        max-width: 286px;
        padding: 10px !important;
        font-size: 0.5em;
        z-index: 99;
      
    }
    .QuotesWrapper {
      position: absolute;
      left: -12px !important;
      top: -10px;
  }
  .font15 {
    font-size: 0.538rem !important;
}
.font13 {
  font-size: 0.513rem !important;
}
.imageWrapper {
  margin-top: 8em !important;
  }
  .dotsWrapper {
z-index: -99 !important;
  }
  .section-title h2 {
    font-size: 25px !important;
  }
    .aramark_dashboard {
      margin: 0 0.5em !important;
    }
}





.css-md26zr-MuiInputBase-root-MuiOutlinedInput-root {
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.4375em;
  letter-spacing: 0.00938em;
  color: rgba(0, 0, 0, 0.87);
  box-sizing: border-box;
  position: relative;
  cursor: text;
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
  position: relative;
  border-radius: 20px !important;
}

.css-viou3o-MuiAutocomplete-root .MuiOutlinedInput-root {
  padding: 1px !important;
}

.css-154xyx0-MuiInputBase-root-MuiOutlinedInput-root {
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.4375em;
  letter-spacing: 0.00938em;
  color: rgba(0, 0, 0, 0.87);
  box-sizing: border-box;
  position: relative;
  cursor: text;
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
  position: relative;
  border-radius: 20px !important;
  padding-right: 14px;
}
